.btnshow {
  color: rgb(98, 154, 228);
  background-color: seashell;
  font-size: 20px;
  font-family: fantasy;
  border-radius: 5px;
  border-color: seashell;
  margin-left: 48%;
}
.chrono {
  margin-left: 48%;
  color: rgb(214, 54, 120);
}
